#!/usr/bin/make -f

%:
	dh $@  --parallel

override_dh_test:
	# disable now since Make seems to ignore the TEMPO2 variable
	true

#override_dh_auto_build:
	#dh_auto_build -- all plugins

#override_dh_auto_install:
#	dh_auto_install -- plugins-install temponest-install
